<h2>ユーザ{{submitValue}}</h2>
<br />
<div class="container">
  <form novalidate name="userInfo">
    <div class="form-group">
      <label for="inputUserId">ユーザID</label>
      <input type="text" class="form-control" name="inputUserId" placeholder="ユーザID" ng-model="user.userId" ng-blur="inputUserIdBlur = true" required />
      <span ng-show="userInfo.inputUserId.$error.required &&
      inputUserIdBlur == true" class="help-block has-error" >ユーザIDの入力は必須です。</span>
    </div>
    <div class="form-group">
      <label for="inputUserName">ユーザ名</label>
      <input type="text" class="form-control" name="inputUserName" placeholder="ユーザ名" ng-model="user.name" ng-blur="inputUserNameBlur = true" required />
      <span ng-show="userInfo.inputUserName.$error.required &&
      inputUserNameBlur == true" class="help-block has-error" >ユーザ名の入力は必須です。</span>
    </div>
    <div class="form-group">
      <label for="inputEmail">E-mail</label>
      <input type="email" class="form-control" name="inputEmail" placeholder="E-mail" ng-model="user.email" ng-blur="inputEmailBlur = true" required />
      <span ng-show="userInfo.inputEmail.$error.required &&
      inputEmailBlur == true" class="help-block has-error" >メールアドレスの入力は必須です。</span>
      <span ng-show="userInfo.inputEmail.$error.email &&
      inputEmailBlur == true" class="help-block has-error" >メールアドレスの形式が不正です。</span>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" ng-model="user.adminFlg" ng-init="user.adminFlg='0'" ng-true-value="1" ng-false-value="0" />管理者</label>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="userInfo.$invalid" >{{submitValue}}</button>
    <button type="submit" class="btn btn-primary" ng-show="showdelete" ng-click="delete()" >削除</button>
    <button class="btn btn-primary" ng-click="cancel()" >キャンセル</button>

  </form>
</div>
<br />